# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD='[ALOHmora123#]'

# FakeStore API
FAKESTORE_API_BASE_URL=https://fakestoreapi.com
API_RETRY_MAX_ATTEMPTS=3
API_RETRY_BACKOFF_BASE=1
API_RETRY_BACKOFF_FACTOR=2
API_REQUEST_TIMEOUT=30

# Paths
DATASET_PATH=../dataset
LOG_LEVEL=INFO
